
@{
    ViewData["Title"] = "Create";
}
@using (Html.BeginForm("Create", "Blog", FormMethod.Post))
{
    <h2>New Post</h2>
    <hr />
    <h3>Title</h3>
    <input type="text" name="postTitle" style="min-width:700px" />
    <h3>Content</h3>
    <textarea name="postContent" style="text-wrap:normal;min-width:1000px; min-height:500px"></textarea>
    <br />
    <input type="submit" name="btnSubmit" value="Submit" style="background-color:lightblue" />
}


