
@{
    ViewData["Title"] = "Blog Home";
    @model List<PostModel>
}

<h2>Home</h2>
<hr />

@foreach (PostModel item in Model)
{
    <h2 style="color:darkcyan"> @item.postTitle</h2>
    <label style="color:cadetblue">@item.postTime UTC</label>
    <p>@item.postContent</p>

    <hr />
}

